<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_etechflow_abandonedcart_cart_index">
        <observer name="etechflow_abc_update_notification"
                  instance="Etechflow\AbandonedCart\Observer\AddUpdateNotification"/>
    </event>
    <event name="controller_action_predispatch_etechflow_abandonedcart_report_index">
        <observer name="etechflow_abc_update_notification_report"
                  instance="Etechflow\AbandonedCart\Observer\AddUpdateNotification"/>
    </event>
</config>
